
body {
  background-image: url('/lagostrain.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  color :white;
  margin-top: 180px;
  
  
}

h1, h2, h3, h4, h5, p {
  text-shadow: 0px 0px 5px black;
}

h1 {
  font-size: 50px;
}

#count-work {
  font-size: 80px;
  margin: 20px 0;
}

button {
  width: 250px;
  background: red;
  padding: 10px 25px;
  margin: 10px auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  
}

#increment-btn {
  
}

#increment-btn:hover {
  background: darkred;
  
}

#save-btn {
  background: green;
}

#save-btn:hover {
  background: darkgreen;
}

#save-el {
  font-size: 30px;
  color :red;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}